name: Update Chrome OS User-Agent

on:
    schedule:
        - cron: "0 1 * * *" # Every day at 01:00 UTC
    workflow_dispatch:

permissions:
    contents: write

jobs:
    update_ua:
        name: Fetch and commit last version
        runs-on: ubuntu-latest
        outputs:
            chrome_version: ${{ steps.ua_update.outputs.chrome_version }}
            version_name: ${{ steps.define_version_name.outputs.version_name }}
            updated_ref: ${{ steps.commit.outputs.updated_ref }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - uses: jdx/mise-action@v3
              with:
                  install: true
                  cache: true
                  experimental: true
            - name: Execute script
              id: ua_update
              run: mise run ua-update
            - name: Define version name
              id: define_version_name
              if: ${{ steps.ua_update.outputs.chrome_version }}
              run: |
                  echo "version_name=$(date +"%Y.%-m.%-d")" >> "$GITHUB_OUTPUT"
            - name: Update manifest.json with new version
              if: ${{ steps.ua_update.outputs.chrome_version }}
              run: |
                  sed -i -E 's!"version": "([^"]+)!"version": "${{ steps.define_version_name.outputs.version_name }}!' src/manifest.json
            - name: Commit
              id: commit
              if: ${{ steps.ua_update.outputs.chrome_version }}
              run: |
                  git config --global user.name 'Axel Leroy'
                  git config --global user.email 'axeleroy@users.noreply.github.com'
                  git add src/
                  git commit -am "Updated User-Agent to ${{ steps.ua_update.outputs.chrome_version }}"
                  echo "updated_ref=$(git log -1 --format=%H)" >> "$GITHUB_OUTPUT"
                  git push
    publish_amo:
        name: Publish to AMO
        runs-on: ubuntu-latest
        needs:
            - update_ua
        if: ${{ needs.update_ua.outputs.chrome_version }}
        timeout-minutes: 10080
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ needs.update_ua.outputs.updated_ref }}
            - uses: jdx/mise-action@v3
              with:
                  version: 2025.6.1
                  install: true
                  cache: true
                  experimental: true
            - name: Update metadata.json with new version
              run: |
                  sed -i -E 's!Updated User Agent string to ([^"]+)!Updated User Agent string to ${{ needs.update_ua.outputs.chrome_version }}!' metadata.json
            - name: Build and publish extension
              env:
                  WEB_EXT_CHANNEL: listed
                  WEB_EXT_AMO_METADATA: metadata.json
                  WEB_EXT_APPROVAL_TIMEOUT: 604800000
                  WEB_EXT_API_KEY: ${{ secrets.AMO_API_KEY }}
                  WEB_EXT_API_SECRET: ${{ secrets.AMO_API_SECRET }}
              run: mise run sign
            - name: Create release
              uses: softprops/action-gh-release@v2
              with:
                  name: ${{ needs.update_ua.outputs.version_name }}
                  tag_name: ${{ needs.update_ua.outputs.version_name }}
                  generate_release_notes: true
                  append_body: true
                  body: "Updated User Agent string to ${{ needs.update_ua.outputs.chrome_version }}"
